

.navBar{
    width: 100%;
    display: flex;
    height: 50px;
    padding: 16px 8px;
    margin: 10px;
    margin-left: 4px;
    justify-content: space-between;
    background-color: blue;
    position: sticky;
    top: 0;
    z-index: 1;

    .logoContainer{
        display: flex;
        
        gap: 10px;
        margin: 8px;
        cursor: pointer;
        
        .logo{
            display: flex;
            width: 100%;
        }

        h1{
            color: white;
        }
    }
}

.sideBarContainer{
    margin: 20px;
    width: 30%;
    
}
.sideBar{
    background-color: #191B1F;
    color: white;
    border-right: 1px solid #191B1F;

}

.appContainer{
    display: flex;
    flex-direction: row;
    background-color: #191B1F;
    border-right: #191B1F;

   
    .content{
        background-color: #191B1F;
        color: white;
    }
}

.globalStateCard{

    background-color: #21242C;
    color: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: wrap;
    max-width: 500px;

    .dataContent{
        h1{
            font-size: 1.8rem;
        }
        
    }

}

.top10Crypto{

    .crypto{
        background-color: #21242C;
        color: white;
        border-radius: 8px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

        .meta{
            color: white;
        }
    }
}